<div id="headerWrapper">
  <nav class="navbar" id="navbar">
    <div class="logo">
      <img src="/assets/images/common/logo.svg" alt="Gulf Zone" />
    </div>
    
    <div class="menu-icon" id="menuBtn">☰</div>
    
    <div class="nav-right" id="navMenu">
      <ul class="nav-links">
        <li style="--i:1"><a href="/index.html">Home</a></li>
        <li style="--i:2"><a href="/about.html">About us</a></li>
        <li style="--i:3"><a href="/services.html">Our Services</a></li>
      </ul>
      <button onclick="location.href='/contacts.html'" class="btn-outline" style="--i:4">
        Contact us
      </button>
    </div>
  </nav>
</div>